*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: inherit;
}
.container{
	height: 500px;
	width:100%;
	background: #008de1;
}
.nav{
	width:1200px;
	margin: 0 auto;
	padding-top: 25px;
	line-height: 45px;
}
.nav a.logo{
	float: left;
}
.nav .map-logo{
	width:130px;
}
.nav ul{
	float: right;
	word-spacing:4px;
}
.nav ul li{
	float: left;
	color: #fff;
	font-size:14px;
	padding-right: 10px;
}
.nav ul li a{
	color: #fff;
	font-size: 14px;
	vertical-align: middle;
}
.nav ul li:nth-child(4){
	margin-left: 10px;
}
.nav ul li:nth-child(4) a{
	background-color: #5db423;
	font-size:12px;
	padding: 7px 14px;
}
.header{
	/*position: relative;
	top:12%;*/
	margin-top: 130px;
	text-align: center;
}
.header .map-logo-big{
	max-height: 120px;
	height: 124px;
	margin-bottom: 50px;
}
#zyz{
	width: 200px;
	height: 100px;
	border: 1px solid red;
	margin: 0 auto;
	color: aquamarine;
	font-size:53px;
}
.navbar{
	margin: 0 auto;
	width: 50%;
	line-height: 56px;
	height: 56px;
}
.map-city{
	float: left;
	width: 100px;
}
.map-city a{
	display: block;
	position: relative;
	background-color: #fff;
	height: 56px;
	color: #333;
	font-size: 20px;
	text-align: center;
}
.map-city a:after{
	content: "";
	position: absolute;
	display: inline-block;
	top: 45%;
	right: 13px;
	margin-left: 5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #999;
}
.map-search{
	float: left;
	width: 70%;
	position: relative;
}
.map-search:before{
	content: "";
	position: absolute;
	top: 13px;
	left: 0;
	height: 30px;
	border-left: 1px solid #dcdcdc;
}
.map-input{
	height: 56px;
	background-color: #fff;
	width: 96%;
}
.map-input input{
	height: 90%;
	border: none;
	outline: 0;
	padding-left: 18px;
	width: 100%;
	font-size: 16px;
	line-height: normal;
	padding-top: 5px;
}
.map-input button{
	position: absolute;
	top: 0;
	right: -138px;
	width: 128px;
	padding: 0;
	font-size: 20px;
	line-height: 56px;
}
.btn-str{
	background-color: #f74342;
	color: #fff;
	display: inline-block;
	border: none;
	border-radius: 2px;
	outline: 0;
	cursor: pointer;
	text-align: center;
}
.btn-str:hover{
	background-color: #e62625;
}
.footer{
	/* position: absolute;
	top:100%; */
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.footer-app{
	display: inline-block;
	padding-top: 60px;
	padding-bottom: 90px;
	text-align: left;
}
.footer-app .footer-app-img{
	position: relative;
	width: 128px;
	padding: 15px;
	border: 1px solid #ddd;
	float: left;
}
.footer-app .footer-app-img img{
	width: 128px;
}
.footer-app .footer-app-img span{
	position: absolute;
	bottom: 0;
	margin-bottom: -10px;
	left: 25px;
	right: 25px;
	background-color: #fff;
	text-align: center;
	color: #999;
	font-size: 14px;
}
.footer-app .footer-app-text{
	display: inline-block;
	vertical-align: middle;
	float: right;
	height: 92px;
	margin-left: 20px;
	margin-top: 36px;
	margin-bottom: 36px;       
	color: #333;
	font: 400 16px PingFang SC,Lantinghei SC,Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
	/* position: relative; */
}
.footer-app .footer-app-text p{
	height: 24px;
	line-height: 24px;
}
.footer-app .footer-app-text .color-str{
	font-size: 30px;
	color: #f74342;
}
.footer .footer-link{
	color: #666;
	font-size: 12px;
	margin-bottom: 10px;
	line-height: 1;
}
.footer .footer-link a{
	display: inline-block;
	padding: 0 7px;
	border-left: 1px solid #ccc;
	color: inherit;
}
.footer .footer-link a:first-child{
	border-left: 0;
}
.footer .footer-copy{
	padding-top: 0;
	clear: both;
	font-size: 12px;
	text-align: center;
	color: #999;
	font-family: Palatino,Optima,Georgia,serif;
}
.footer .footer-copy a{
	color: inherit;
}
.footer .footer-copy a:hover{
	color: #333;
	text-decoration: underline;
}
.footer .footer-police{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	padding: 10px 0;
	text-align: center;
	font-size: 14px;
	height: 100%;
}
.footer .footer-police a img{
	height: 40px;
}
.footer .footer-police .footer-text{
	color: #999;
	font-size: 12px;
}